name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
          check-latest: true
          cache: true
      - name: Push image to docker hub
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          export VERSION=test
          make container
  linux:
    runs-on: ubuntu-latest
    needs: [ "image" ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
          check-latest: true
          cache: true
      - name: Setup Minikube
        timeout-minutes: 30
        uses: medyagh/setup-minikube@master

      - name: Kubernetes info
        run: |
          kubectl cluster-info
          cat ~/.kube/config
          kubectl get pods -n kube-system -o wide
      - name: Install demo bookinfo
        run: |
          docker pull naison/kubevpn:test
          docker pull naison/kubevpn:latest
          docker pull istio/examples-bookinfo-details-v1:1.16.2
          docker pull istio/examples-bookinfo-ratings-v1:1.16.2
          docker pull istio/examples-bookinfo-reviews-v1:1.16.2
          docker pull istio/examples-bookinfo-productpage-v1:1.16.2
          docker pull naison/authors:latest
          docker pull nginx:latest
          minikube image load --daemon=true istio/examples-bookinfo-details-v1:1.16.2
          minikube image load --daemon=true istio/examples-bookinfo-ratings-v1:1.16.2
          minikube image load --daemon=true istio/examples-bookinfo-reviews-v1:1.16.2
          minikube image load --daemon=true istio/examples-bookinfo-productpage-v1:1.16.2
          minikube image load --daemon=true naison/authors:latest
          minikube image load --daemon=true nginx:latest
          minikube image load --daemon=true naison/kubevpn:test
          minikube image load --daemon=true naison/kubevpn:latest
          eval $(minikube docker-env)
          kubectl apply -f https://raw.githubusercontent.com/wencaiwulue/kubevpn/master/samples/bookinfo.yaml

      - name: Build
        run: |
          export VERSION=test
          make kubevpn-linux-amd64
          chmod +x ./bin/kubevpn
          cp ./bin/kubevpn /usr/local/bin/kubevpn

      - name: Wait for pods reviews to be ready
        run: |
          kubectl wait pods -l app=reviews --for=condition=Ready --timeout=3600s
          kubectl wait pods -l app=productpage --for=condition=Ready --timeout=3600s
          kubectl get all -o wide
          kubectl get nodes -o yaml
          ifconfig
          route -n
          sudo ln /usr/bin/resolvectl /usr/bin/systemd-resolve

      - name: Test
        run: go test -v ./pkg/test/function_test.go

  macos:
    runs-on: macos-10.15
    needs: [ "image" ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
          check-latest: true
          cache: true
      - uses: docker-practice/actions-setup-docker@master
      - name: Pull image in advance
        run: |
          rm '/usr/local/bin/kubectl'
          set -x
          docker version

      - name: Install minikube
        run: |
          brew install minikube
          minikube start --driver=docker
          kubectl get po -A
          minikube kubectl -- get po -A

      - name: Kubernetes info
        run: |
          kubectl cluster-info
          cat ~/.kube/config
          kubectl get pods -n kube-system -o wide

      - name: Install demo bookinfo
        run: |
          docker pull naison/kubevpn:test
          docker pull naison/kubevpn:latest
          docker pull istio/examples-bookinfo-details-v1:1.16.2
          docker pull istio/examples-bookinfo-ratings-v1:1.16.2
          docker pull istio/examples-bookinfo-reviews-v1:1.16.2
          docker pull istio/examples-bookinfo-productpage-v1:1.16.2
          docker pull naison/authors:latest
          docker pull nginx:latest
          minikube image load --daemon=true istio/examples-bookinfo-details-v1:1.16.2
          minikube image load --daemon=true istio/examples-bookinfo-ratings-v1:1.16.2
          minikube image load --daemon=true istio/examples-bookinfo-reviews-v1:1.16.2
          minikube image load --daemon=true istio/examples-bookinfo-productpage-v1:1.16.2
          minikube image load --daemon=true naison/authors:latest
          minikube image load --daemon=true nginx:latest
          minikube image load --daemon=true naison/kubevpn:test
          minikube image load --daemon=true naison/kubevpn:latest
          eval $(minikube docker-env)
          kubectl apply -f https://raw.githubusercontent.com/wencaiwulue/kubevpn/master/samples/bookinfo.yaml

      - name: Build
        run: |
          export VERSION=test
          make kubevpn-darwin-amd64
          chmod +x ./bin/kubevpn
          cp ./bin/kubevpn /usr/local/bin/kubevpn

      - name: Wait for pods reviews to be ready
        run: |
          kubectl wait pods -l app=reviews --for=condition=Ready --timeout=3600s
          kubectl wait pods -l app=productpage --for=condition=Ready --timeout=3600s
          kubectl get all -o wide
          kubectl get nodes -o yaml
          ifconfig
          netstat -anr

      - name: Test
        run: go test -v ./pkg/test/function_test.go

#  windows:
#    runs-on: windows-latest
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Set up Go
#        uses: actions/setup-go@v2
#        with:
#          go-version: 1.19
#      #      - run: |
#      #          choco install docker-desktop
#      #          docker version
#      #          docker run --rm hello-world
#      - run: |
#          choco install virtualbox
#          choco install minikube
#          minikube start --driver=virtualbox
#          minikube kubectl -- get po -A
#          choco install make
#      - name: Kubernetes info
#        run: |
#          kubectl cluster-info dump
#          kubectl get pods -n kube-system -o wide
#      - name: Install demo bookinfo
#        run: kubectl apply -f https://raw.githubusercontent.com/wencaiwulue/kubevpn/master/samples/bookinfo.yaml
#
#      - name: Build
#        run: make kubevpn-windows
#
#      - name: Wait for pods reviews to be ready
#        run: |
#          kubectl wait pods -l app=reviews --for=condition=Ready --timeout=600s
#          kubectl get all -o wide
#          kubectl get nodes -o yaml
#          ipconfig
#
#      - name: Test
#        run: go test -v ./test/

